

@media (min-width: 320px) and (max-width: 575.98px) {

    .navbar-nav .nav-item .nav-link {
        text-align: center;
        font-size: 16px;
        color: black;
    
        border-radius: 5px;
        margin-bottom: 3px;
    }
    .navbar-nav .nav-item :hover.nav-link {
    color: palevioletred;
    }

    .navbar-nav .nav-item .nav-link.active {
        color: black;
        font-weight: bold;
    }

    .navbar-light .navbar-toggler {
        color: gray;
    }
    .navbar-toggler-icon{
        border-radius: 5px;
    }
     .left_content {
    width: 100%;
         margin-top: 30px;
    }
    .left_content h4 {
    font-size: 28px;
    }
    .right_content{
        margin-left: 0px;
    }
    .botto{
        text-align: center;
            padding: 20px 0px;
    }
    .img_cont{
        padding: 15px 0px;
    }
    footer {
        padding: 40px 0px;
    }
    .heads_part p{
        width: 100%;
    }
    .heads_part input {
    width: 80%;
        text-align: center;
        margin: auto;
    }
    .heads_part button{
        margin-top: 20px;
            padding: 7px 35px;
    font-size: 16px;
    }
    .icon ul{
        margin-top: 30px;
    }
    .icon ul li{
    width: 30px;
    height: 30px;
    line-height: 30px;
            margin-right: 15px;
    }
   
}



@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-nav .nav-item .nav-link {
        text-align: center;
        font-size: 16px;
        color: black;
    
        border-radius: 5px;
        margin-bottom: 3px;
    }
    .navbar-nav .nav-item :hover.nav-link {
    color: palevioletred;
    }

    .navbar-nav .nav-item .nav-link.active {
        color: black;
        font-weight: bold;
    }

    .navbar-light .navbar-toggler {
        color: black;
    }
    .navbar-toggler-icon{
        border-radius: 5px;
    }
    .left_content {
    width: 100%;
    margin-top: 30px;
        text-align: center;
    }
    .left_content h4 {
    font-size: 40px;
    }
    .left_content h6 {
    font-size: 17px;
    }
    .left_content p {
    font-size: 21px;
    }
        .botto{
        text-align: center;
            padding: 20px 0px;
    }
    .img_cont{
        padding: 10px 0px;
    }
       footer {
        padding: 40px 0px;
    }
    .heads_part p{
        width: 100%;
    }
    .heads_part h4 {
    font-size: 35px;
    margin-bottom: 20px;
    }  
    
    }

 
    


@media (min-width: 768px) and (max-width: 991.98px) {
 
  .navbar-nav .nav-item .nav-link {
        text-align: center;
        font-size: 16px;
        color: black;
    
        border-radius: 5px;
        margin-bottom: 3px;
    }
    .navbar-nav .nav-item :hover.nav-link {
    color: palevioletred;
    }

    .navbar-nav .nav-item .nav-link.active {
        color: black;
        font-weight: bold;
    }

    .navbar-light .navbar-toggler {
        color: black;
    }
    .navbar-toggler-icon{
        border-radius: 5px;
    }
    .left_content {
    width: 90%;
    }
    
    .left_content h4 {
    font-size: 30px;
    }
   
    
}
    
    
 
@media (min-width: 992px) and (max-width: 1199.98px) {
    .padd2 {
    padding-bottom: 30px;
    }
    .left_content {
    width: 90%
    }
    .left_content h4 {
    font-size: 40px
    }
    .left_content p {
    font-size: 25px;
    }
    .left_content h6 {
    font-size: 18px
    }
    .head_part h4 {
    font-size: 33px;
    }
    .img_cont{
        text-align: right;
    }
    .heads_part h4 {
    font-size: 40px;
        margin-bottom: 20px;
    }
        
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    
    .left_content {
    width: 90%;
    }
       .left_content h4 {
    font-size: 42px
    }
    .left_content p {
    font-size: 26px;
    }
    .left_content h6 {
    font-size: 18px
    }
        .head_part h4 {
    font-size: 35px;
    }
    .img_cont{
        text-align: right;
    }
    .heads_part h4 {
    font-size: 35px
    }
    
}

@media (min-width: 1400px) {
    .left_content {
    width: 90%;
    }
       .left_content h4 {
    font-size: 45px
    }
    .left_content p {
    font-size: 30px;
    }
    .left_content h6 {
    font-size: 19px
    }
        .head_part h4 {
    font-size: 35px;
    }
    .img_cont{
        text-align: right;
    }
    .heads_part h4 {
    font-size: 35px
    }
    
}
