
/*
@media (min-width: 320px) and (max-width: 575.98px) {






    .navbar-nav .nav-item .nav-link {
        text-align: center;
        font-size: 14px;
        color: white;
        background-color: gray;
        border-radius: 5px;
        margin-bottom: 3px;
    }
    .navbar-nav .nav-item :hover.nav-link {
    color: palevioletred;
    }

    .navbar-nav .nav-item .nav-link.active {
        color: white;
        font-weight: bold;
    }

    .navbar-light .navbar-toggler {
        color: gray;
    }
    .navbar-toggler-icon{
     background-color: palevioletred;
        border-radius: 5px;
    }

 

@media (min-width: 576px) and (max-width: 767.98px) {

        .navbar-nav .nav-item .nav-link {
        text-align: center;
        font-size: 18px;
        color: white;
        background-color: gray;
        border-radius: 5px;
        margin-bottom: 3px;
    }
    .navbar-nav .nav-item :hover.nav-link {
    color: palevioletred;
    }

    .navbar-nav .nav-item .nav-link.active {
        color: white;
        font-weight: bold;
    }

    .navbar-light .navbar-toggler {
        color: gray;
    }
    .navbar-toggler-icon{
     background-color: palevioletred;
        border-radius: 5px;
    }
 
    
   

@media (min-width: 768px) and (max-width: 991.98px) {
    
    .navbar-nav .nav-item .nav-link {
        text-align: center;
        font-size: 14px;
        color: white;
        background-color: gray;
        border-radius: 5px;
        margin-bottom: 3px;
    }
    .navbar-nav .nav-item :hover.nav-link {
    color: palevioletred;
    }

    .navbar-nav .nav-item .nav-link.active {
        color: white;
        font-weight: bold;
    }

    .navbar-light .navbar-toggler {
        color: gray;
    }
    .navbar-toggler-icon{
     background-color: palevioletred;
        border-radius: 5px;
    }
    
    

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-nav .nav-item :hover.nav-link {
    color: palevioletred;
    }
    .Menu_second {

    width: 80%;
    margin-top: 100px;
    }
    .Menu_second h1 { 
    font-size: 53px;
    }
    .sit_content {
    padding-top: 75px;
    }
    .content_para{
        margin-bottom: 20px;
    }
    
}

@media (min-width: 1400px) {
    .navbar-nav .nav-item :hover.nav-link {
    color: palevioletred;
    }
}

*/